# Лабораторная работа к лекции 1
Ваше имя: Егоров Андрей Сергеевич

Ваш адрес электронной почты:Egorov_AS@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [59]:
# Пункт 1
# Определение переменных
first = 10
second = 4.5
# Вычисление суммы переменных
third = first + second
print('Вычисление суммы переменных', third)
# Вывод типа данных третьей переменной
print('Вывод типа данных третьей переменной', type(third))  # <class 'float'>

# Пункт 2
# Переназначение переменной с другим типом данных
first = '10'
# Вывод нового типа данных
print('Вывод нового типа данных', type(first))  # <class 'str'>

# Пункт 3
# Добавление строки к строке
string_1 = "Hello"
string_2 = "world"
concatenated_string = string_1 + string_2
print(concatenated_string)  # HelloWorld

# Пункт 4
# Добавление строки к числу с плавающей запятой или целому числу
summa = second + string_1
print(summa)

Вычисление суммы переменных 14.5
Вывод типа данных третьей переменной <class 'float'>
Вывод нового типа данных <class 'str'>
Helloworld

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [68]:
def double_number(b, c):
  return b + c

print(double_number(5, 9))
print(double_number(7.8, 10))

# Выдает ошибку, поскольку return используется вне функции.
# Вместо a возьмем d для корректности задания
def double_number(d):
  d *= 2
  return d
print(d)

14
17.8

NameError: name 'd' is not defined

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [61]:
name = 'Егоров Андрей Сергеевич'
age = 20
spec = 'Бизнес-информатика'
print(f'Имя: {name}, Специальность: {spec}, Возраст: {age} лет, или {age * 12} месяцев, или {age*365} дней...')

Имя: Егоров Андрей Сергеевич, Специальность: Бизнес-информатика, Возраст: 20 лет, или 240 месяцев, или 7300 дней...

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [62]:
def fun(num1, num2):
    num = 2
    result = (num1 * num2) / num
    return result

# Первый набор входных переменных
num1 = 5
num2 = 10
print(fun(num1, num2))

# Второй набор входных переменных
num1 = 8.5
num2 = 3
print(fun(num1, num2))

# Третий набор входных переменных
num1 = 12.4
num2 = 6
print(fun(num1, num2))

25.0
12.75
37.2

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [63]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [64]:
for person, books in zip(people, books_read):
    if books == 0:
        print(f'{person} не читал ни одной книги!')
    else:
        print(f'{person} прочитал {books} книг')

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [65]:
def print_books_read(people_list, books_read_list):
    for person, books in zip(people_list, books_read_list):
        if books == 0:
            print(f'{person} не читал ни одной книги!')
        else:
            print(f'{person} прочитал {books} книг')

people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

print_books_read(people, books_read)

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [66]:
import numpy as np
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
sorted_indices = np.argsort(books_read)[::-1]

for i in range(3):
  idx = sorted_indices[i]
  print({people[idx]}, {books_read[idx]})

{'Yulia'} {15}
{'Krishnang'} {12}
{'Robert'} {10}